<div class="contianer m-5">
    <!-- Gutter g-1 -->
<div class="row g-1">
    <div class="col">
      <!-- Name input -->
      <div class="form-outline">
        <input type="text" id="Title" class="form-control" />
        <label class="form-label" for="Title">Title</label>
      </div>
    </div>
    <div class="col">
      <!-- Email input -->
      <div class="form-outline">
        <input type="email" id="image" class="form-control" />
        <label class="form-label" for="image">image</label>
      </div>
    </div>
  </div>
  <!-- Gutter g-1 -->
  <div class="row g-1">
    <div class="col">
      <!-- Name input -->
      <div class="form-outline">
        <input type="text" id="Description" class="form-control" />
        <label class="form-label" for="Description">Description</label>
      </div>
    </div>
    <div class="col">
      <!-- Email input -->
      <div class="form-outline">
        <input type="email" id="Price" class="form-control" />
        <label class="form-label" for="Price">Price</label>
      </div>
    </div>
  </div>
  <div class="row g-1">
    <div class="col">
      <!-- Name input -->
      <div class="form-outline">
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
      </div>
    </div>
    <div class="col">
      <!-- Email input -->
      <div class="form-outline">
        <input type="email" id="Quantity" class="form-control" />
        <label class="form-label" for="Quantity">Quantity</label>
      </div>
    </div>
  </div>
  <div class="row g-1">
    <div class="col-2 offset-5" >
        <button type="button" class="btn btn-info w-100 ">Add </button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Creatine</td>
        <td>56</td>
        <td>3</td>
        <td><button class="btn btn-success">Edit</button></td>
        <td><button class="btn btn-warning">Delete</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>hard Mass</td>
        <td>65</td>
        <td>98</td>
        <td><button class="btn btn-success">Edit</button></td>
        <td><button class="btn btn-warning">Delete</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>whey</td>
        <td>36</td>
        <td>3</td>
        <td><button class="btn btn-success">Edit</button></td>
        <td><button  class="btn btn-warning">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>